@{
	ViewData["Title"] = "About";
}

<div class "text-center">
	<h1 class="display-4">About</h1>
	<p>The goal of this site is to quickly tell if a specific version of Windows is still supported.</p>
</div>